[submodule "reference/proot"]
	path = reference/proot
	url = https://github.com/proot-me/proot.git
	ignore = untracked
[submodule "reference/termux"]
	path = reference/termux
	url = https://github.com/termux/proot.git
[submodule "reference/omp"]
	path = reference/omp
	url = https://github.com/can1357/oh-my-pi
